body {
  background-color: $light-color-white;
  color: $dark-color-black;

  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;

  &.modal-open {
    overflow: hidden;
  }
}

button {
  pointer-events: initial;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding-top: 0;
  padding-bottom: 60px;
}

/* общие классы для общего пользования */
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 75px;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 71px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0000);
  overflow: hidden;
}
