
    <p>страница{{page}}</p>
    <ul class="movies-card">
        {{#each results}}
        <li>
            <img src='{{backdrop_path}}'/>
            <p>{{original_title}}</p>
        </li>
        {{/each}}
    </ul>
    <p>{{total_pages}}</p>
