/* colors */
$light-color-white: #ffffff;
$dark-color-black: #000000;
$bright-color-orange: #ff6b08;
$dark-color-gray: #545454;
$light-gray-color: #8c8c8c;
$light-color-gray: #F7F7F7; 
$bright-color-red: #FF001B;

/* font */
$main-font: 'Roboto', sans-serif;

/* breakpoint */
$mobile: 420px;
$tablet: 768px;
$desktop: 1024px;