/* colors */
$light-color-white: #ffffff;
$dark-color-black: #000000;
$bright-color-orange: #ff6b08;
$dark-color-gray: #545454; 
$bright-color-red: #FF001B;

/* font */
$main-font: 'Roboto', sans-serif;

/* breakpoint */
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;