<footer class="footer">
  <div class="footer__text-up">&copy; 2020 | All Rights Reserved |</div>
  <div class="footer__text-down">
    Developed with
    <svg width="14px" height="13px" class="footer__svg">
      <use href="./images/svg/sprite.svg#icon-heart"></use>
    </svg>
    by <button type="button" class="footer__btn footer__btn-js">Web Rangers</button>
  </div>
</footer>
<div class="footer__backdrop is-hidden">
  <button type="button" class="footer__btn-close">X</button>
  <section id="slideshow">
    <div class="entire-content">
      <div class="content-carrousel">
       
          <figure class="shadow">
            <span>Name: Anna <br />Position: Developer </span>
            <img src="./images/team/anna.jpg" />
          </figure>

        <figure class="shadow">
          <span>Name: Larisa <br />Position: Developer </span>
          <img src="./images/team/larisa.jpg" />
        </figure>
        <figure class="shadow">
          <span>Name: Leonid <br />Position: Developer </span>
          <img src="./images/team/leonid.jpg" />
        </figure>
        <figure class="shadow">
          <span>Name: Natalie <br />Position: Scrum Master </span>
          <img src="./images/team/natalie.jpg" />
        </figure>
        <figure class="shadow">
          <span>Name: Pavel <br />Position: Team Leader </span>
          <img src="./images/team/pavel.jpg" />
        </figure>
        <figure class="shadow">
          <span>Name: Tatyana <br />Position: Developer </span>
          <img src="./images/team/tatyana.jpg" />
        </figure>
        <figure class="shadow">
          <span>Name: Maxim <br />Position: Developer </span>
          <img
            src="https://images.pexels.com/photos/302515/pexels-photo-302515.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
          />
        </figure>
        <figure class="shadow">
          <span>Name: Gulnaz <br />Position: Developer </span>
          <img
            src="https://images.pexels.com/photos/301682/pexels-photo-301682.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
          />
        </figure>
      </div>
    </div>
  </section>
</div>
