<div class="footer__backdrop is-hidden">
  <button type="button" class="footer__btn-close">X</button>
  <section id="slideshow">
    <div class="slideshow__entire-content">
      <div class="slideshow__content-carrousel">
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/anna.jpg" alt="Anna"/>
            
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png"  />
            <div class="slideshow__team-info">
              <h2>Anna</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/larisa.jpg" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Larisa" />
            <div class="slideshow__team-info">
              <h2>Larisa</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/leonid.png" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Leonid" />
            <div class="slideshow__team-info">
              <h2>Leonid</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/natali.png" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Natali" />
            <div class="slideshow__team-info">
              <h2>Natali</h2>
              <p>Position: Scrum Master</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/pavel.png" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Pavel" />
            <div class="slideshow__team-info">
              <h2>Pavel</h2>
              <p>Position: Team Leader</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/tatyana.png" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Tatyana" />
            <div class="slideshow__team-info">
              <h2>Tatyana</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/max.png" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Maxim" />
            <div class="slideshow__team-info">
              <h2>Maxim</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/gulnaz.png" width="150px" height="150px" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Gulnaz" />
            <div class="slideshow__team-info">
              <h2>Gulnaz</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-arrows">
      <button type="button" class="prev">&larr;</button>
      <button type="button" class="next">&rarr;</button>
    </div>
  </section>
</div>


