<div class="footer__backdrop is-hidden">
  <button type="button" class="footer__btn-close">X</button>
  <section id="slideshow">
    <div class="entire-content">
      <div class="content-carrousel">
        <div class="shadow">
          <span>Name: Anna <br />Position: Developer </span>
          <img src="./images/team/anna.png" />
        </div>

        <div class="shadow">
          <span>Name: Larisa <br />Position: Developer </span>
          <img src="./images/team/larisa.png" />
        </div>
        <div class="shadow">
          <span>Name: Leonid <br />Position: Developer </span>
          <img src="./images/team/leonid.png" />
        </div>
        <div class="shadow">
          <span>Name: Natalie <br />Position: Scrum Master </span>
          <img src="./images/team/natali.png" />
        </div>
        <div class="shadow">
          <span>Name: Pavel <br />Position: Team Leader </span>
          <img src="./images/team/pavel.png" />
        </div>
        <div class="shadow">
          <span>Name: Tatyana <br />Position: Developer </span>
          <img src="./images/team/tatyana.png" />
        </div>
        <div class="shadow">
          <span>Name: Maxim <br />Position: Developer </span>
          <img src="./images/team/max.png" />
        </div>
        <div class="shadow">
          <span>Name: Gulnaz <br />Position: Developer </span>
          <img src="./images/team/gulnaz.png" width="150px" height="150px" />
        </div>
      </div>
    </div>
  </section>
</div>
