<div class="footer__backdrop is-hidden">
  <button type="button" class="footer__btn-close">
    <svg width="30px" height="30px">
      <use href="./images/svg/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <section id="slideshow">
    <div class="slideshow__entire-content footer-is-hidden">
      <div class="slideshow__content-carrousel">
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/anna.jpg" alt="Anna" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Slider" />
            <div class="slideshow__team-info">
              <h2>Anna</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/larisa.jpg" alt="Larisa" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Larisa" />
            <div class="slideshow__team-info">
              <h2>Larisa</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/leonid.png" alt="Leonid" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Leonid" />
            <div class="slideshow__team-info">
              <h2>Leonid</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/natali.png" alt="Natali" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Natali" />
            <div class="slideshow__team-info">
              <h2>Natali</h2>
              <p>Position: Scrum Master</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/pavel.png" alt="Pavel" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Pavel" />
            <div class="slideshow__team-info">
              <h2>Pavel</h2>
              <p>Position: Team Leader</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/tatyana.png" alt="Tatyana" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Tatyana" />
            <div class="slideshow__team-info">
              <h2>Tatyana</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/max.png" alt="Maxim" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Maxim" />
            <div class="slideshow__team-info">
              <h2>Maxim</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
        <div class="slideshow__shadow">
          <div class="slideshow__front">
            <img src="./images/team/gulnaz.png" width="150" height="150" alt="Gulnaz" />
          </div>
          <div class="slideshow__back">
            <img src="./images/team/lenta.png" alt="Gulnaz" />
            <div class="slideshow__team-info">
              <h2>Gulnaz</h2>
              <p>Position: Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-arrows">
      <button type="button" class="prev">&larr;</button>
      <button type="button" class="next">&rarr;</button>
    </div>

    <div class="wrapper">
      <div class="image-slider swiper-container">
        <div class="image-slider__wrapper swiper-wrapper">
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/anna.jpg" alt="Anna" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/larisa.jpg" alt="Larisa" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/leonid.png" alt="Leonid" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/natali.png" alt="Natali" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/pavel.png" alt="Pavel" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/tatyana.png" alt="Tatyana" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/max.png" alt="Maxim" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-slide__image">
              <img src="./images/team/gulnaz.png" alt="Gulnaz" />
            </div>
          </div>
        </div>

        <!--<div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>-->

        <!--<div class="swiper-pogination-container">
          <div class="swiper-pogination"></div>
        </div>-->

        <!--<div class="swiper-scrollbar"></div>-->

        <div class="image-mini-slider swiper-container">
          <div class="image-mini-slider__wrapper swiper-wrapper">
            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Anna.jpg" alt="Anna" />
              </div>
            </div>

            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Larisa.jpg" alt="Larisa" />
              </div>
            </div>

            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Leonid.jpg" alt="Leonid" />
              </div>
            </div>

            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Natalie.jpg" alt="Natalie" />
              </div>
            </div>

            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Pavel.jpg" alt="Pavel" />
              </div>
            </div>

            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Tatyana.jpg" alt="Tatyana" />
              </div>
            </div>

            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Maxim.jpg" alt="Maxim" />
              </div>
            </div>

            <div class="image-mini-slider__slide swiper-slide">
              <div class="image-mini-slider__image">
                <img src="./images/team-original/Gulnaz.jpg" alt="Gulnaz" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
