<header>
	<div class="header-container">
		<button type="button" class="logo-header">
			<svg class="logo-header__svg" width="24" height="24">
				<use href="./images/svg/sprite.svg#icon-logo"></use>
			  </svg>
			  <p class="logo-header__text">Filmoteka</p>
		</button>
		<nav class="nav-header">
			<button class="nav-header__home active">Home</button>
			<button class="nav-header__library">My library</button>
		</nav>
	</div>
	<form class="header-form" action="">
	 <input class="header-form__input" type="text" placeholder="Поиск фильмов">
	 <button type="submit" class="header-form__btn">
		<svg class="header-form__svg">
			<use href="./images/svg/sprite.svg#icon-search"></use>
		  </svg>
	 </button> 	  
	</form>
	<div class="librari-nav">
	  <button type="button" class="librari-nav__wach active">watched</button>
	  <button type="button" class="librari-nav__queue">queue</button>
	</div>		
  </header>