.modal-close-svg {
  position: absolute;
  top: 0;
  right: 0;

  fill: black;
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid transparent;
}

.modal-img {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
  height: 374px;

  @media screen and (min-width: 767px) and (max-width: $desktop) {
    margin-bottom: 0;
    margin-right: 32px;

    width: 240px;
    height: 357px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 30px;

    min-width: 396px;
    height: 478px;
  }
}

.modal-film-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal-items {
  margin-bottom: 20px;

  line-height: 16px;
}

.modal-item-name {
  position: relative;
  color: $light-gray-color;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal-item-description {
  display: inline;
  color: $dark-color-black;
}

.modal-item-average {
  margin-left: 41px;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  background-color: $bright-color-orange;
  color: $light-color-white;

  @media screen and (min-width: $desktop) {
    margin-left: 85px;
  }
}

.modal-item-count {
  margin-left: 7px;
  display: inline-block;
  color: $dark-color-black;
}

.modal-item-popularity {
  margin-left: 53px;

  @media screen and (min-width: $desktop) {
    margin-left: 97px;
  }
}

.modal-item-title {
  position: absolute;
  margin-left: 42px;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    margin-left: 86px;
  }
}

.modal-item-genre {
  display: inline-flex;
}

.modal-item-genre-container {
  margin-left: 78px;
  color: $dark-color-black;

  @media screen and (min-width: $desktop) {
    margin-left: 123px;
  }
}

.modal-description-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.modal-description {
  margin-bottom: 20px;

  line-height: 20px;
  color: $dark-color-black;
}

.modal-button-container {
  display: flex;
}

.modal-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  width: 113px;
  height: 44px;
  border: 1px solid $dark-color-black;
  border-radius: 5px;
  background-color: $light-color-white;
  color: $dark-color-black;

  &:not(:last-child) {
    margin-right: 15px;
  }

  @media screen and (min-width: 767px) and (max-width: $desktop) {
    width: 125px;
  }

  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

.modal-button-color {
  background-color: $bright-color-orange;
  border: 1px solid transparent;
  color: $light-color-white;
}
