body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.scroll-hidden {
  overflow: hidden;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 9;
  overflow-y: scroll;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  position: absolute;
  top: 20px;
  padding: 48px 20px 41px;
  width: 90%;
  max-width: 400px;

  border-radius: 4px;
  background-color: $light-color-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    top: 60px;
    padding: 42px 28px 40px;
    max-width: 618px;
  }

  @media screen and (min-width: $desktop) {
    top: 100px;
    margin-left: 17px;
    padding: 50px 30px 40px;
    max-width: 882px;
  }
}

.js-modal {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: start;
  }
}
