.modal-close-svg {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;

  cursor: pointer;

  margin-top: 10px;
  margin-right: 10px;
  background-color: transparent;
  background-image: url('../images/svg/icon-close-black.svg');
  background-position: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color var(--animation-duration) var(--timing-function);

  &:hover {
    background-color: $light-color-gray;
  }
}

.modal-img {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // height: 374px;
  object-fit: cover;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 0;
    margin-right: 32px;

    width: 264px;
    height: 373px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 30px;

    width: 260px;
    height: 396px;
  }
}

.modal-film-title {
  margin-bottom: 20px;
  margin-right: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal-items-container {
  display: flex;
  margin-bottom: 10px;

  line-height: 16px;
}

.modal-items {
  margin-right: 41px;
  width: 70px;

  @media screen and (min-width: $desktop) {
    margin-right: 85px;
  }
}

.modal-item-name {
  width: 70px;
  color: $light-gray-color;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal-item-common {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal-item-average {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  background-color: $bright-color-orange;
  color: $light-color-white;
}

.modal-item-count {
  margin-left: 7px;
  display: inline-block;
  color: $dark-color-black;
}

.modal-genre-container {
  margin-bottom: 20px;
}

.mogal-item-genre {
  display: flex;
}

.modal-genre-name {
  margin-left: 79px;
  color: $dark-color-black;

  @media screen and (min-width: $desktop) {
    margin-left: 123px;
  }
}

.modal-description-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.modal-description {
  margin-bottom: 20px;

  line-height: 20px;
  color: $dark-color-black;
}

.modal-button-container {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    flex-wrap: wrap;
  }
}

.modal-button {
  @media screen and (max-width: 380px) {
    font-size: 10px;
  }

  @media screen and (max-width: 767px) {
    line-height: 14px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  cursor: pointer;

  width: 113px;
  height: 44px;
  border: 1px solid $dark-color-black;
  border-radius: 5px;
  background-color: $light-color-white;
  color: $dark-color-black;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 125px;

    &:first-child {
      margin-right: 15px;
    }
    &.teaser-button {
      margin-top: 15px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 136px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.modal-button-color,
.teaser-button:hover,
.teaser-button:focus,
.teaser-button:focus,
.modal-button:hover {
  background-color: $bright-color-orange;
  border: 1px solid transparent;
  color: $light-color-white;
}
